<h1 style="font-family: 'Arial'">Stupid coaching</h1>

<div class="question">
  <h2><%= @question %></h2>
  <p><strong>you say...</strong></p>
</div>
<br>
<div class="answer">
  <p><strong>The mighty qoach's answer for you is:</strong></p>
  <h1><%= @answer %></h1>
</div>
<h3 class="link"><%= link_to "Go back and ask a new stupid question", ask_path %></h3>
