<h1 style="font-family: 'Arial'">Stupid coaching</h1>
<p><strong>Ask your coach anything</strong></p>
<form class="form" action="answer" style="width: 250px; font-family: 'Arial'">
  <input class="input" type="text" name="question">
  <input class="btn" type="submit" value="Ask!">
</form>
